<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="artech.batchingHosting" 
            type="Artech.BatchingHosting.Configuration.BatchingHostingSettings, Artech.BatchingHosting"/>
  </configSections>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3721/calculatorservice/metadata" />
          <!--将服务端异常信息传递给客户端，若服务端不做异常处理，通道失效-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="DebugBehavior">
          <!--将服务端异常信息传递给客户端，若服务端不做异常处理，通道失效-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="endpint behavior 1"/>
      </endpointBehaviors>
    </behaviors>
    
    <bindings>
      <netTcpBinding >
        <!--缓存1K,最大接收500M-->
        <binding name="netTcpBindingStream" portSharingEnabled="false" maxBufferSize="1024" maxReceivedMessageSize="524288000" transferMode="StreamedRequest" />
      </netTcpBinding>
    </bindings>
    
    <services>        
      <service name="Artech.BatchingHosting.CalculatorServiceNoErrorHandle" behaviorConfiguration="DebugBehavior" >
        <!-- 不同终结点 地址需不同 注 不同契约，其他可以相同再同一个服务下的时候-->
        <endpoint address="net.tcp://127.0.0.1:3722/calculatorservWithNoErrorHandle" binding="netTcpBinding" contract="Artech.BatchingHosting.ICalculatorNoErrorHandle"/>
      </service>
    
      <service name="Artech.BatchingHosting.CalculatorService" behaviorConfiguration="metadataBehavior">
        <!-- 不同终结点 地址需不同 注 不同契约，其他可以相同再同一个服务下的时候-->
        <endpoint address="http://127.0.0.1:3721/calculatorservice" binding="wsHttpBinding" contract="Artech.BatchingHosting.ICalculator"/>
        <endpoint address="http://127.0.0.1:3721/calculatorserv" binding="netHttpBinding" contract="Artech.BatchingHosting.ICalculator"/>

        <!-- TCP/IP 一个服务又有TCP，又有HTTP则不允许用同一端口 否则出现 错误代码：10013-->
        <endpoint address="net.tcp://127.0.0.1:3722/calculatorservice" binding="netTcpBinding" contract="Artech.BatchingHosting.ICalculator"/>
        <endpoint address="net.tcp://127.0.0.1:3722/calculatorserv" binding="netTcpBinding" contract="Artech.BatchingHosting.ICalculator"/>
      </service>
    
      <service name="Artech.BatchingHosting.ErrorHandleService" behaviorConfiguration="DebugBehavior" >     
        <endpoint address="net.tcp://127.0.0.1:3722/ErrorHandleService" binding="netTcpBinding" contract="Artech.BatchingHosting.IErrorHandleTest"/>
      </service>
     
      <service name="Artech.BatchingHosting.FileDealServer" behaviorConfiguration="DebugBehavior" >
        <!-- http不同服务端口可以一致-->
        <endpoint address="http://127.0.0.1:3721/fileservice" binding="wsHttpBinding" contract="Artech.BatchingHosting.IFileDeal"/>
     
        <!-- TCP/IP -->
        <!--address注意不要重复  同一应用程序，不同服务，可共用同一端口，若是不同的应用程序，则需要做端口共享处理 开启Net.TCP Port Sharing Service-->
        <!--流-->
        <endpoint address="net.tcp://127.0.0.1:3722/fileservice" binding="netTcpBinding"  bindingConfiguration="netTcpBindingStream" contract="Artech.BatchingHosting.IFileDeal"/>
      </service>

    </services>
  </system.serviceModel>
  <artech.batchingHosting>
    <add type="Artech.BatchingHosting.CalculatorServiceNoErrorHandle, Artech.BatchingHosting"/>
    <add type="Artech.BatchingHosting.CalculatorService, Artech.BatchingHosting"/>
    <add type="Artech.BatchingHosting.FileDealServer, Artech.BatchingHosting"/>
    <add type="Artech.BatchingHosting.ErrorHandleService, Artech.BatchingHosting"/>
  </artech.batchingHosting>
</configuration>