<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_CalculatorService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:3721/calculatorservice" binding="netTcpBinding"
                bindingConfiguration="WSHttpBinding_CalculatorService" contract="ServiceReference.CalculatorService"
                name="WSHttpBinding_CalculatorService">
                <identity>
                    <userPrincipalName value="DESKTOP-1AE8TL4\sizone" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>