<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_CalculatorService" />
      </wsHttpBinding>
      <netHttpBinding>
        <binding name="HttpBinding_CalculatorService" />
      </netHttpBinding>
      <netTcpBinding>
        <binding name="TcpBinding_CalculatorService" />
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <!--消息路由分发 负载均衡有用 一般应用不会用到-->
        <behavior name="clientViaBehavior">
          <clientVia viaUri="http://127.0.0.1:8888/CalculatorService"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!--Http-->
      <endpoint  address="http://127.0.0.1:3721/calculatorservice" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_CalculatorService" contract="Artech.BatchingHosting.ICalculator"
          name="WSHttp_CalculatorService">
        <identity>
          <userPrincipalName value="DESKTOP-1AE8TL4\sizone" />
        </identity>
      </endpoint>

      <endpoint  address="http://127.0.0.1:3721/calculatorserv" binding="netHttpBinding"
        bindingConfiguration="HttpBinding_CalculatorService" contract="Artech.BatchingHosting.ICalculator"
        name="Http_CalculatorService"/>

      <endpoint  address="http://127.0.0.1:3721/fileservice" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_CalculatorService" contract="Artech.BatchingHosting.IFileDeal"
          name="WSHttp_FileService">
        <identity>
          <userPrincipalName value="DESKTOP-1AE8TL4\sizone" />
        </identity>
      </endpoint>

      <!--TCP-->
      <endpoint  address="net.tcp://127.0.0.1:3722/calculatorservWithNoErrorHandle" binding="netTcpBinding"
          bindingConfiguration="TcpBinding_CalculatorService" contract="Artech.BatchingHosting.ICalculatorNoErrorHandle"
          name="Tcp_CalculatorServiceNoErrorHandle">
      </endpoint>
      <endpoint  address="net.tcp://127.0.0.1:3722/calculatorservice" binding="netTcpBinding"
          bindingConfiguration="TcpBinding_CalculatorService" contract="Artech.BatchingHosting.ICalculator"
          name="Tcp1_CalculatorService">
        <identity>
          <userPrincipalName value="DESKTOP-1AE8TL4\sizone" />
        </identity>
      </endpoint>

      <endpoint  address="net.tcp://127.0.0.1:3722/calculatorserv" binding="netTcpBinding"
        bindingConfiguration="TcpBinding_CalculatorService" contract="Artech.BatchingHosting.ICalculator"
        name="Tcp2_CalculatorService"/>

      <endpoint  address="net.tcp://127.0.0.1:3722/fileservice" binding="netTcpBinding"
          bindingConfiguration="TcpBinding_CalculatorService" contract="Artech.BatchingHosting.IFileDeal"
          name="Tcp_FileService">
        <identity>
          <userPrincipalName value="DESKTOP-1AE8TL4\sizone" />
        </identity>
      </endpoint>

    </client>
  </system.serviceModel>
</configuration>